@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
        url('../_fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../_fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../_fonts/ProximaNovaT-Thin.ttf') format('truetype'),
        url('../_fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('../_fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../_fonts/ProximaNova-Light.woff') format('woff'),
        url('../_fonts/ProximaNova-Light.ttf') format('truetype'),
        url('../_fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../_fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../_fonts/ProximaNova-Regular.woff') format('woff'),
        url('../_fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../_fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('../_fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../_fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../_fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../_fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('../_fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../_fonts/ProximaNova-Bold.woff') format('woff'),
        url('../_fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../_fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../_fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('../_fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../_fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../_fonts/ProximaNova-Semibold.ttf') format('truetype'),
        url('../_fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bernier Distressed';
    src: local('BERNIER Distressed'), local('BERNIERDistressed-Regular'), 
        url('../_fonts/Bernierdistressed.woff2') format('woff2'), 
        url('../_fonts/Bernierdistressed.woff') format('woff'), 
        url('../_fonts/Bernierdistressed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('../_fonts/13578.eot');
    src: url('../_fonts/13578.eot?#iefix') format('embedded-opentype'),
        url('../_fonts/13578.woff') format('woff'),
        url('../_fonts/13578.ttf') format('truetype'),
        url('../_fonts/13578.svg#SignPainter-HouseScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

