@import "fonts";
@import "break";
@import "hamburgers/hamburgers";
@import "niceselect/nice-select";
$main: #ed373b;

body {
	background: #fff;
	color: #2d2d2d;
	font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
}
.page-wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.no-before {
	&:before {
		display: none;
	}
}
.no-after {
	&:after {
		display: none;
	}
}
.mm-page {
	height: 100%;
}
.mobile-nav:not(.mm-menu) {
	display: none;
}
.mm-menu_offcanvas { 
	z-index: 100
}
.mm-page {
	z-index: 101
}
.mm-menu {
	.menu-image-title-after {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		span {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 105;
	}
}

.alignright, .alignleft {
	@include break(650) {
		display: block;
		margin: 20px auto !important;
		float: none !important;
	}
}
.hamburger {
	display: none;
	@include break(medium) {
		display: inline-block;
	}
}
.header {
	.top_header_row {
		@include break(medium) {
			display: none;
		}
		.container {
			height: 80px;
			background: #fff;
			display: flex;
			align-items: center;
			box-shadow: 0px 4px 18px 0px rgba(25, 25, 25, 0.36);
			position: relative;
			border-radius: 0 0 15px 0;
			z-index: 3;
			&:before {
				content: "";
				display: block;
				height: 100%;
				width: 1000px;
				position: absolute;
				left: -1000px;
				top: 0;
				z-index: 2;
				box-shadow: 0px 4px 18px 0px rgba(25, 25, 25, 0.36);
				background: #fff;
			}
			&:after {
				width: 20px;
				height: 100%;
				position: absolute;
				z-index: 3;
				left: 0;
				top: 0;
				display: block;	
				content: "";
				background: #fff;
			}
			.row {
				width: 100%;
			}
			.phones {
				padding: 0;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				li {
					display: block;
					a {
						color: #393939;
						font-size: 18px;
						padding-left: 55px;
						display: inline-block;
						position: relative;
						margin-left: 20px;
						&:before {
							background: url('../_images/sprite.png') no-repeat;
							content: "";
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
						}
						&.mail {
							&:before {
								width: 51px;
								height: 51px;
								background-position: 0 0;
							}
						}
						&.tel {
							padding-left: 60px;
							&:before {
								width: 58px;
								height: 66px;
								background-position: -60px 0;
							}
							&.ks {
								&:before {
									background-position: -120px 0;
								}
							}
						}
					}
				}
			}
		}
	}
	.container {
		position: relative;
	}
	.bottom_header_row {
		display: flex;
		align-items: center;
		position: absolute;
		top: -65px;
		left: 0;
		width: 100%;
		@include break(medium) {
			position: static;
			justify-content: space-between;
		}
		.logo {
			position: relative;
			z-index: 4;
			img {
				@include break(medium) {
					max-height: 60px;
				}
			}
		}
		.menu {
			flex-grow: 1;
			@include break(medium) {
				display: none;
			}
			.menu-top_menu-container {
				> ul {
					display: flex;
					justify-content: space-between;
					> li {
						display: block;
						position: relative;
						line-height: 35px;
						&:hover {
							.sub-menu {
								display: block;
							}
						}
						> a {
							color: #2d2d2d;
							font-size: 14px;
							font-weight: 500;
							text-transform: uppercase;
							text-decoration: none;
						}
						ul.sub-menu {
							padding: 15px;
							border-radius: 10px;
							box-shadow: 0px 3px 12px 0px rgba(25, 25, 25, 0.32);
							position: absolute;
							top: 30px;
							left: 0;
							background: #fff;
							columns: 3;	
							min-width: 550px;
							z-index: 10;
							display: none;
							li {
								display: block;
								font-size: 13px;
								line-height: 25px;	
								a {
									color: #2d2d2d;
								}
							}
						}
					}
				}
			}
		}
	}
}

.promo {
	background: url('../_images/promo-bg.jpg') top repeat-x;
	height: 650px;
	background-size: cover;
	padding-top: 160px;
	@include break(800) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.container-800 {
	@include break(800) {
		width: 750px;
		margin: 0 auto;
	}
	@include break(small) {
		width: 100%;
	    padding: 0 15px !important;
	}
}
.center-block-800 {
	@include break(800) {
		margin: 0 auto;
		float: none;
		width: intrinsic;        
		width: -moz-max-content;   
		width: -webkit-max-content;
		max-width: 100%;
	}
}
.hide-800 {
	@include break(800) {
		display: none;
	}
}
.promo-slider {
	@include break(800) {
		display: none !important;
	}
	.slide {
		.img {
			img {
				display: inline-block;
				width: auto;
				max-width: 100%;
			}
		}
		.text {
			font-size: 40px;
			color: #363637;
			font-family: 'Bernier Distressed';
			margin-bottom: 45px;
			line-height: 1.1;
			min-height: 44px;
			&:empty {
				&:after {
					display: none;
				}
			}
			&:after {
				content: "";
				display: inline-block;
				width: 23px;
				height: 24px;
				background: url("../_images/sprite.png") 0px -76px no-repeat;
				position: relative;
				top: -2px;
			}
			span {
				color: $main;
			}
		}
	}
}

.call_back {
	a {
		display: block;
		padding-left: 70px;
		line-height: 60px;
		border-radius: 50px;
		position: relative;
		background: $main;
		color: #fff;
		font-size: 17px;
		font-family: 'Bernier Distressed';
		box-shadow: 0px 3px 12px 0px rgba(25, 25, 25, 0.49);
		&:before {
			content: "";
			width: 66px;
			height: 66px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background: url("../_images/sprite.png") -43px -76px no-repeat;
		}
	}
}

.price_request {
	background: #f0f0f0;
	padding: 15px;
	display: block;
	width: 100%;
	border-radius: 25px;
	margin-top: 20px;
	position: relative;
	z-index: 11;
	box-shadow: 0px 3px 12px 0px rgba(25, 25, 25, 0.49);
	.form_title {
		font-size: 20px;
		text-align: center;
		font-family: 'Bernier Distressed';
		color: $main;
		margin: 5px 0 15px;
	}
	.inputs_wrapper {
		.input {
			display: block;
			width: 100%;
			background: #f0f0f0;
			border-radius: 50px;
			box-shadow: 0px 7px 16px 0px rgba(25, 25, 25, 0.4);
			border: none;
			margin-bottom: 15px;
			padding: 0 20px;
			line-height: 40px;
			font-size: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.send_btn {
		border: 1px solid #323232;
		border-top: none;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -50px;
		box-sizing: border-box;
		border-radius: 0 0 25px 25px;
		height: 70px;
		.btn {
			background: $main;
			color: #fff;
			font-size: 15px;
			text-align: center;
			display: block;
			width: calc(100% - 50px);
			border-radius: 50px;
			line-height: 55px;
			font-weight: 400;
			margin: 0 auto;
			border: none;
			position: relative;
			top: 35px;
			text-transform: uppercase;
		}
	}
}
.center {
	text-align: center;
}
.section-title {
	font-family: 'Bernier Distressed';
	font-size: 34px;
	margin-bottom: 30px;
	&.center {
		text-align: center;
	}
}
.about {
	position: relative;
	top: -85px;
	margin-bottom: -85px;
	background: url("../_images/about-bg.png") right 220px no-repeat;
	padding-bottom: 85px;
	z-index: 10;
	@include break(medium) {
		top: 0;
		margin-bottom: 0;
		padding-top: 50px;
		background: none;
	}
	.triagle {
		height: 90px;
		position: absolute;
		left: 0;
		bottom: -88px;
		width: 100%;
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		background: #fff;
	}
	
	p {
		font-size: 14px;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		} 
	}
	.italic-top-text {
		font-family: 'Brush Script MT';
		font-size: 32px;
	}
	.small-title {
		font-family: 'Bernier Distressed';
		color: $main;
		font-size: 18px;
		margin-bottom: 15px;
		@include break(small) {
			margin-top: 25px;
		}
	}
	.wheels-list {
		padding: 0;
		margin: 0;
		li {
			display: block;
			padding-left:35px;
			position: relative;
			line-height: 25px;
			margin-bottom: 12px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 26px;
				height: 26px;
				background: url("../_images/sprite.png") -121px -76px no-repeat;
			}
			&:nth-child(even) {
				&:before {
					width: 13px;
					height: 13px;
					background: url("../_images/sprite.png") -128px -103px no-repeat;
					left: 7px;
					top: 6px;
				}
			}
		}
	}
}

section.count {
	background: url('../_images/count.jpg') center no-repeat;
	background-size: cover;
	padding: 150px 0 75px;
	.numbers {
		display: flex;
		justify-content: space-between;
		@include break (small) {
			flex-wrap: wrap;
		}
		@include break(x-small) {
			flex-direction: column;
		}
		.number-item {
			@include break (small) {
				width: 50%;
				margin-bottom: 25px;
			}
			@include break(x-small) {
				margin-bottom: 30px;	
				width: 100%;		
			}
			.number {
				color: $main;
				font-family: 'Bernier Distressed';
				text-align: center;
				font-size: 75px;
				margin-bottom: 5px;
				line-height: 1;
			}
			.text {
				font-size: 40px;
				font-family: 'Brush Script MT', Arial, sans-serif;
				text-align: center;
				color: #fff;
				line-height: 0.7;
			}
		}
	}
}

.gradient-section {
	text-align: center;
	color: #000;
	background-image: linear-gradient(to bottom, #ededed, #b7b7b7);
	font-size: 35px;
	font-family: 'Brush Script MT';
	line-height: 0.8;
	padding: 30px 0;
}

.infographic {
	position: relative;
	padding: 0 163px;
	background: #fff url('../_images/decor.png') top center no-repeat;
	min-height: 922px;
	background-size: cover;
	@include break(1400) {
		padding: 0;
	}
	.section-title {
		margin: 60px 0;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 163px;
		height: 922px;
		background: url('../_images/car_triangle.png') 0 0 no-repeat;
		@include break(desktop) {
			display: none;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 163px;
		height: 922px;
		background: url('../_images/car_triangle2.png') 0 0 no-repeat;
		@include break(desktop) {
			display: none;
		}
	}
	.items-holder {
		position: relative;
		@include break(desktop) {
			left: -11%;
		}
		@include break(medium) {
			left: 0;
			width: intrinsic;        
			width: -moz-max-content;   
			width: -webkit-max-content;
			max-width: 100%;
			margin: 0 auto;

		}
		br {
			@include break(x-small) {
				display: none;
			}
		}
		.item {
			position: absolute;
			@include break(medium) {
				position: static;
				display: flex;
				align-items: center;
				line-height: 1.1;
				text-align: left !important;
				margin-bottom: 25px;
			}
			img {
				position: absolute;
				@include break(medium) {
					position: static;
					height: 124px;
					display: inline-block;
					margin-right: 10px;
				}
			}
			&.fst {
				left: 50%;
				top: 0;
				text-align: center;
				transform: translateX(-50%);
				@include break(desktop) {
					transform: none;
				}
				img {
					top: 60px;
				}
			}
			&.sec {
				left: 911px;
				top: 200px;
				img {
					left: -190px;
					top: -54px;
				}
			}
			&.thd {
				left: 1000px;
				top: 400px;
				img {
					left: -190px;
					top: -56px;
				}
			}
			&.frth {
				left: 920px;
				top: 600px;
				img {
					left: -190px;
					top: -60px;
				}
			}
			&.fvth {
				left: 500px;
				top: 804px;
				text-align: center;
				z-index: 1;
				img {
					left: -10px;
					top: -200px;
				}
			}
			&.sxth {
				left: 60px;
				text-align: right;
				top: 582px;
				img {
					right: -180px;
					top: -50px;
				}
			}
			&.svnth {
				left: 0;
				top: 390px;
				text-align: right;
				img {
					right: -180px;
					top: -50px;
				}
			}
			&.eghth {
				left: 90px;
				top: 180px;
				text-align: right;
				img {
					right: -180px;
					top: -45px;
				}
			}
			&.logo {
				left: 50%;
				transform: translateX(-50%);
				top: 280px;
				@include break(desktop) {
					transform: none;
				}
				@include break(medium) {
					display: none;
				}
				img {
					position: static;
				}
			}
		}
	}
	.triangle {
		height: 90px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -89px;
		-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
		clip-path: polygon(50% 100%, 0 0, 100% 0);
		background: #fff;
	}
}

.how_it_works {
	background: $main;
	padding: 150px 0 50px;
	min-height: 700px;	
	@include break(medium) {
		display: none;
	}
	.section-title {
		color: #fff;
	}
	.steps-wrapper {
		position: relative;
		img {
			max-width: 100%;
		}
		.step {
			position: absolute;
			color: #fff;
			font-size: 18px;
			text-align: center;
			line-height: 1.2;
			&.step1 {
				left: -20px;
				top: 240px;
				@include break(desktop) {
					left: -30px;
					top: 210px;
				}
			}
			&.step2 {
				left: 230px;
				top: 153px;
				@include break(desktop) {
					left: 180px;
					top: 133px;
				}
			}
			&.step3 {
				left: 350px;
				top: 305px;
				@include break(desktop) {
					left: 270px;
					top: 255px;
				}
			}
			&.step4 {
				left: 640px;
				top: 190px;
				@include break(desktop) {
					left: 530px;
					top: 160px;
				}
			}
			&.step5 {
				left: 710px;
				top: 310px;
				@include break(desktop) {
					left: 610px;
					top: 270px;
					width: 210px;
					br {
						display: none;
					}
				}
			}
			&.step6 {
				left: 935px;
				top: 230px;
				@include break(desktop) {
					left: 795px;
					top: 190px;
				}
			}
		}
	}
}

.by_brand {
	padding: 50px 0 100px;
	background: url('../_images/brands_bg.jpg') center no-repeat;
	background-size: cover;
	@include break(medium) {
		padding-top: 100px;
	}
	.section-description {
		text-align: center;
		font-family: 'Brush Script MT';
		margin: 25px 0 55px;
		font-size: 35px;
	}
	.owl-nav {
		.owl-prev, 
		.owl-next {
			position: absolute;
			top: 50%;
			left: -55px;
			width: 23px;
			height: 58px;
			transform: translateY(-70%);
			span {
				display: inline-block;
				width: 100%;
				height: 100%;
				background: url("../_images/sprite.png") -31px -156px no-repeat;
				font-size: 0;
			}
		}
		.owl-next {
			left: auto;
			right: -55px;
			span {
				background: url("../_images/sprite.png") 0 -156px no-repeat
			}
		}
	}
	.slide {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		a {
			display: inline-block;
			width: 8%;
			height: 80px;
			line-height: 80px;
			text-align: center;
			margin-bottom: 15px;
			img {
				display: inline-block;
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				vertical-align: middle;
			}
		}
	}
}

.testimonials {
	background: url('../_images/testimonials-bg.png') right top no-repeat;
	padding: 50px 0;
	.testimonilas_slider {
		.slide {
			padding: 0 20px;
			.photo {
				text-align: center;
				img {
					display: inline-block;
					width: auto;
					max-width: 100%;
				}
			}
			.name {
				text-align: center;
				font-size: 18px;
				margin: 15px 0;
				.city {
					color: $main;
				}
			}
			.text {
				font-style: italic;
				font-size: 14px;
				line-height: 25px;
				text-align: center;
			}
			.date {
				text-align: center;
				color: $main;
				margin-top: 10px;
			}
		}
		.owl-nav {
			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				left: -55px;
				width: 16px;
				height: 41px;
				transform: translateY(-70%);
				&:focus {
					outline: none;
				} 	
				span {
					display: inline-block;
					width: 100%;
					height: 100%;
					background: url("../_images/sprite.png") 0px -230px no-repeat;
					font-size: 0;
				}
			}
			.owl-next {
				left: auto;
				right: -55px;
				span {
					background: url("../_images/sprite.png") -19px -230px no-repeat
				}
			}
		}
	}
}

.map_section {
	background: $main url('../_images/map-bg.png') right no-repeat;
	position: relative;
	padding: 50px 195px;
	min-height: 830px;
	@include break(desktop) {
		padding: 50px 0;
	}
	@include break(small) {
		min-height: 0;
	}
	.container {
		width: 100%;
	}
	.section-title {
		color: #fff;
	}
	.section-description {
		text-align: center;
		font-family: 'Brush Script MT';
		margin: 25px 0 55px;
		font-size: 35px;
		color: #fff;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 245px;
		height: 950px;
		background: url('../_images/map_before.png') 0 0 no-repeat;
		@include break(desktop) {
			display: none;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 195px;
		height: 830px;
		background: url('../_images/map_after.png') 0 0 no-repeat;
		@include break(desktop) {
			display: none;
		}
	}
	.interactive-map {
		filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, .7));
		width: 90%;
		height: auto;
		margin: 0 auto;
		display: block;
		.district {
			polygon, path {
				fill: $main !important;
				cursor: pointer;
				&:hover {
					fill: #BC5151 !important;
				}
			}
		}
	}
}

.faq_section {
	padding: 50px 0 100px;
	background: url('../_images/brands_bg.jpg') center no-repeat;
	background-size: cover;
	.item {
		background: linear-gradient(to right, #fff 0%, #b8b8b8 10%, #5c5c5e 33.3%, #b8b8b8 45%, #fff 66.6%, #5c5c5e 100%);
		padding: 3px;
		border-radius: 10px 50px 50px 10px;	
		margin-bottom: 15px;
		.inner {
			padding: 2rem;
			border-radius: 10px 50px 50px 10px;
			background: #f0f0f0;
			position: relative;
			> a {
				position: absolute;
				right: -1px;
				top: -1px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				background-color: #686868;
				width: 65px;
				height: 65px;
				color: #fff;
				font-size: 25px;
				text-decoration: none;
			}
		}
	}
}

.footer {
	padding: 50px 0;
	box-shadow: inset 0 20px 40px -20px rgba(16, 16, 16, 0.75);
	.top-row {
		.footer-menu {
			padding: 0;
			margin: 0;
			@include break(medium) {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			li {
				position: relative;
				list-style-type: none;
				@include break(medium) {
					display: inline-block;
					margin-right: 15px;
					margin-bottom: 7px;
				}
				a {
					display: inline-block;
					color: #2d2d2d;
					font-size: 14px;
					font-weight: 500;
					text-transform: uppercase;
					text-decoration: none;
				}
				.sub-menu {
					display: none;
				}
			}
		}
		.nav-links {
			ul {
				padding: 0;
				margin: 0;
				@include break(medium) {
					text-align: center;
				}
				li {
					display: inline-block;
					page-break-inside: avoid;
					margin-bottom: 15px;
					// width: 20%;
					a {
						display: inline-block;
						background: #b2b1b1;
						line-height: 24px;
						font-size: 13px;
						color: #fff;
						text-decoration: none;
						border-radius: 50px;
						padding: 0 10px;
						box-sizing: border-box;
					}
				}
			}
		}
	}
	.bottom-row {
		> div {
			align-items: flex-end;
			display: flex;
			justify-content: space-between;
			@include break(x-small) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.phones {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		top: -30px;
		@include break(desktop) {
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			display: block;
			&:not(.call_back) {
				@include break(medium) {
					display: none;
				}
			}
			&.call_back {
				@include break(desktop) {
					margin-top: 25px;
				}
				a {
					color: #fff;
					padding: 0 15px 0 70px;
					line-height: 62px;	
					&:before {
						background: url('../_images/sprite.png') -43px -76px no-repeat;
						top: 33px;
					}
				}
			}
			a {
				color: #393939;
				font-size: 15px;
				padding-left: 55px;
				display: inline-block;
				position: relative;
				margin-left: 20px;
				&:before {
					background: url('../_images/sprite.png') no-repeat;
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
				&.mail {
					&:before {
						width: 51px;
						height: 51px;
						background-position: 0 0;
					}
				}
				&.tel {
					padding-left: 60px;
					&:before {
						width: 58px;
						height: 66px;
						background-position: -60px 0;
					}
					&.ks {
						&:before {
							background-position: -120px 0;
						}
					}
				}
			}
		}
	}
}

.single, .page {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Brush Script MT';
		color: $main;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.section_after_promo {
		position: relative;
		top: -85px;
		margin-bottom: -85px;
		padding-bottom: 85px;
		z-index: 10;
		@include break(medium) {
			top: 0;
			margin-bottom: 0;
			padding-top: 50px;
			background: none;
		}
	}
	.infographic {
		margin-bottom: 110px;
	}
}

.slide-cars, .p50 {
	padding: 50px 0;
}

.news-slider {
	.slide {
		.thumb {
			position: relative;
			&:hover {
				a {
					opacity: 1;
				}
			}
			img {
				height: 235px;
				width: 100%;
				object-fit: cover;
			}
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.8);
				color: #fff;
				left: 0;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 18px;
				text-transform: uppercase;
				opacity: 0;
				transition: .3s;
				text-decoration: none;
			}
		}
	}
}
.slider3item {
	.slide {
		padding: 0 20px;
		text-align: center;
		img {
			display: inline-block;
			height: 255px;
			width: 100%;
			object-fit: cover;
		}
		.brand {
			font-size: 16px;
			font-weight: bold;
			text-align: left;
		}
		.text {
			font-weight: bold;
			font-size: 16px;
			text-align: left;
			color: #8b8989;
		}
	}
	.owl-nav {
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 50%;
			left: -55px;
			width: 16px;
			height: 41px;
			transform: translateY(-70%);
			&:focus {
				outline: none;
			} 	
			span {
				display: inline-block;
				width: 100%;
				height: 100%;
				background: url("../_images/sprite.png") 0px -230px no-repeat;
				font-size: 0;
			}
		}
		.owl-next {
			left: auto;
			right: -55px;
			span {
				background: url("../_images/sprite.png") -19px -230px no-repeat
			}
		}
	}
}

.text-description {
	padding: 50px 0;
	background: url('../_images/text-description_bg.jpg') center no-repeat;
	background-size: cover;
	color: #fff;
	.section-title {
		color: #fff;
	}
}